body {
    background-color: #ccc9c5;
}


#allOfPage {
    width: 95vw;
    margin: 0 auto;
    background-image: url("images/sacgeom-overlap.png");
    background-size: 4.5%; 
    background-repeat: repeat;
}

#playBoard{
    display: block;
    margin: 10vh auto;
    padding: 10px 10px;
    background-color: #ccc9c5;
    background-size: contain; 
    border: 3px solid #c6b28f;
    border-radius: 10px;
    width: 760px;
    height: 760px;
    
}

#start-button {
    margin:auto;
    display:block;
    background: #edd8b4;
    background-image: -webkit-linear-gradient(top, #edd8b4, #9e7838);
    background-image: -moz-linear-gradient(top, #edd8b4, #9e7838);
    background-image: -ms-linear-gradient(top, #edd8b4, #9e7838);
    background-image: -o-linear-gradient(top, #edd8b4, #9e7838);
    background-image: linear-gradient(to bottom, #edd8b4, #9e7838);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #c6b28f;
    color: #474239;
    font-size: 35px;
    padding: 8px 20px 12px 20px;
    text-decoration: none;
}

.pieces {
    width: 240px;
    height: 240px;
    float: left;
    border: 1px solid #474239;
    font-size: 64px;
  }


  .pieces:hover {
    border: 4px solid #a0f37f;
    box-shadow: #74706b;
  }

  
#start-button:hover {
    background: #9e7838;
    text-decoration: none;
  }

#gameControls  p{
    color: #474239;
    background-color: #ccc9c5;
    border: 3px solid #c6b28f;
}