body {
    background-color: #ccc9c5;
    font-family: 'Poiret One', cursive;
}


#allOfPage {
    width: 95vw;
    height: 100vh;
    margin-top: 20px;
    margin: auto;
    background-image: url("Images/sacgeom-overlap.png");
    background-size: 4.4%; 
    background-repeat: repeat;
}

#playBoard{
    display: block;
    margin: 5vh 4vw;
    padding: 10px 10px;
    background-color: #ccc9c5;
    background-size: contain; 
    border: 3px solid #c6b28f;
    border-radius: 10px;
    max-width: 740px;
    max-height: 740px;
    min-width: 720px;
    min-height: 720px;
    
}

#start-button {
    margin:auto;
    margin-top: 20px;
    margin-bottom: 15px;
    display:block;
    background: #edd8b4;
    background-image: -webkit-linear-gradient(top, #edd8b4, #9e7838);
    background-image: -moz-linear-gradient(top, #edd8b4, #9e7838);
    background-image: -ms-linear-gradient(top, #edd8b4, #9e7838);
    background-image: -o-linear-gradient(top, #edd8b4, #9e7838);
    background-image: linear-gradient(to bottom, #edd8b4, #9e7838);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #c6b28f;
    color: #474239;
    font-size: 23px;
    padding: 8px 20px 12px 20px;
    text-decoration: none;
}

.piece {
    /* width: 240px;
    height: 240px; */
    border: 1px solid #474239;
    font-size: 64px;
    padding: 0;
  }

#gameStats {
    margin-top: 65px;
}


.piece:hover {
    border: 4px solid #a0f37f;
    box-shadow: #74706b;
  }

.unbordered:hover {
      border: none;
  }

.unbordered {
      border: none;
  }


#landing {
    text-align: center;
    margin-top: 20vh;
}  

  
#start-button:hover {
    background: #9e7838;
    text-decoration: none;
  }

#gameControls  {
    color: #474239;
    background-color: #ccc9c5;
    border: 3px solid #c6b28f;
    height: 70vh;
    width: 20vw;
    border-radius: 10px;
    margin-top: 5vw;
    margin-left: 25px;
    size: 2em;
}



#puzzleInfo  {
    color: #474239;
    background-color: #ccc9c5;
    border: 3px solid #c6b28f;
    height: 75vh;
    width: 20vw;
    border-radius: 10px;
    margin-top: 5vw;
    margin-right: 25px;
    size: 2em;
}

#header {
    color: #474239;
    background-color: #ccc9c5;
    border: 3px solid #c6b28f;
    /* height: 5vh; */
    width: 45vw;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 15px;
    /* margin-left:350px; */
    /* display: flex;
    justify-content: center; */

}
#header > h1{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-weight: 700;
}

#gameControls > h3, h4, h5 {
    font-weight: bolder;
}

#mainSections {
    display: flex;
    justify-content: space-around;

}

#puzzleInfo p{
   size: 14px;
   margin-top: 40px;
}

#puzzleInfo img{
    max-width: 200px; 
    margin-top: 25px;

    
}

.blocked {
    display: block;
    border: none;
}

.picked {
    border: 4px solid #76c9f2;
}